{% extends 'header-footer.html'%}
{% load static %}
{% block content %}
        <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row ">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Datatable</h4></div>

                            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item">Table</li>
                                <li class="breadcrumb-item active"><a href="#">Datatable</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-header  justify-content-between align-items-center">                               
                                <h4 class="card-title">Package Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display table dataTable table-striped table-bordered" >
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Package Name</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Event id</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in package1 %}
                                            <tr>

                                                <td>{{ i.package_id }}</td>
                                                <td>{{i.package_name}}</td>
                                                <td>{{i.package_desc}}</td>
                                                <td>{{i.package_price}}</td>
                                                <td>{{i.event_id}}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Package Name</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Event id</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div> 

                    </div>                  
                </div>
                <!-- END: Card DATA-->
            </div>
        </main>
        <!-- END: Content-->

{% endblock %}

