{% extends 'c-header-footer.html'%}
{% load static %}
{% block content %}
		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url({% static 'assets/images/breadcrumb/0.breadcrumb-bg.jpg' %});">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">all you need to know</span>
									<h2 class="big-title"><strong>about</strong> Rangmanch</h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">about us</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->


<!-- our-management-section - start
		================================================== -->
		<section id="our-management-section" class="our-management-section bg-gray-light sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- section-title - start -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="section-title text-left mb-50 sr-fade1">
							<small class="sub-title">we are Rangmanch</small>
							<h2 class="big-title"><strong>No.1</strong> Events Management</h2>
						</div>
					</div>
					<!-- section-title - end -->

					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">

							<!-- management-item - start -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="management-item sr-fade2">
									<div class="item-title">
										<h3 class="title-text">
											our mission
										</h3>
									</div>
									<p class="black-color mb-30">
										"Bring people together, or turn your passion into a business. Rangmanch gives you everything you need to host your best event yet. Bring people together, or turn your passion into a business. Rangmanch gives you everything you need to host your best event yet."
									</p>
									<p class="black-color m-0">
										<strong>
											<i>
												Lorem ipsum dollor site amet the best  consectuer adipiscing elites sed diam nonummy nibh euismod.
											</i>
										</strong>
									</p>
								</div>
							</div>
							<!-- management-item - end -->

							<!-- management-item - start -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="management-item sr-fade3">
									<div class="item-title">
										<h3 class="title-text">
											our vision
										</h3>
									</div>
									<p class="black-color mb-30">
										Lorem ipsum dollor site amet the best  consectuer adipiscing elites sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit.
									</p>
									<p class="black-color m-0">
										<strong>
											<i>
												Lorem ipsum dollor site amet the best  consectuer adipiscing elites sed diam nonummy nibh euismod.
											</i>
										</strong>
									</p>
								</div>
							</div>
							<!-- management-item - end -->

						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- our-management-section - end
		================================================== -->

		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 bg-gray-light clearfix">
			<div class="container">

				<div class="row">
					<div class="col-lg-6">
						<div class="section-title mb-50 sr-fade1">
							<span class="line-style"></span>
							<small class="sub-title">why choose us</small>
							<h2 class="big-title">Rangmanch <strong>Advantages</strong></h2>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="team-btn text-right sr-fade2">
							<a href="#!" class="custom-btn">meet the team</a>
						</div>
					</div>
				</div>

				<div class="service-wrapper sr-fade1">
					<ul>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-handshake"></i>
								</span>
								<strong class="service-title">friendly team</strong>
								<small class="service-sub-title">More than 200 teams</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-cheers"></i>
								</span>
								<strong class="service-title">Unique Scenario</strong>
								<small class="service-sub-title">we thinking out of the box</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-two-balloons"></i>
								</span>
								<strong class="service-title">perfect venues</strong>
								<small class="service-sub-title">perfect venues</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-speech-bubble"></i>
								</span>
								<strong class="service-title">24/7 hours support</strong>
								<small class="service-sub-title">anitime anywhere</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-clown-hat"></i>
								</span>
								<strong class="service-title">Unforgetable Times</strong>
								<small class="service-sub-title">More than 200 teams</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-light-bulb"></i>
								</span>
								<strong class="service-title">Briliant Idea</strong>
								<small class="service-sub-title">We thinking out of the box</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-event-date-and-time-symbol"></i>
								</span>
								<strong class="service-title">Unique Scenario</strong>
								<small class="service-sub-title">perfact venues</small>
							</a>
						</li>

						<li>
							<a href="#!">
								<span class="icon">
									<i class="flaticon-group"></i>
								</span>
								<strong class="service-title">Best Management</strong>
								<small class="service-sub-title">anytime anywhere</small>
							</a>
						</li>

					</ul>
				</div>

			</div>
		</section>
		<!-- service-section - end
		================================================== -->
{% endblock %}