{% extends 'c-header-footer.html'%}
{% load static %}
{% block content %}
		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(assets/images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">event single</span>
									<h2 class="big-title">harmoni <strong>event details</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Events</a></li>
										<li class="breadcrumb-item active" aria-current="page">Istanbul Wine Party 2018</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- event-details-section - start
		================================================== -->
		<section id="event-details-section" class="event-details-section sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<!-- col - event-details - start -->
					<div class="col-lg-12 col-md-12 col-sm-12">

						<!-- event-details - start -->
							{% for e in eve %}
						<div class="event-details mb-80">

							<div class="event-title mb-30">
								<span class="tag-item">
									<i class="fas fa-bookmark"></i>
									{{ e.subcat_id.subcat_name }}
								</span>
								<h2 class="event-title">

									{{ e.event_name }}

									<strong>{{ e.event_date }}</strong></h2>
							</div>

							<div id="event-details-carousel" class="event-details-carousel owl-carousel owl-theme">
								<div class="item">
									<img src="{% static '/image/'%}{{e.event_image}}" alt="Image_not_found">
								</div>

							</div>

							<div class="event-info-list ul-li clearfix mb-50">
								<ul>
									<li>
										<span class="icon">
											<i class="far fa-calendar"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Event Date</small>
											<h3 class="event-date">{{ e.event_date }}</h3>
										</div>
									</li>
									<li>
										<span class="icon">
											<i class="far fa-clock"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Event Time</small>
											<h3 class="event-date">{{ e.event_time }}</h3>
										</div>
									</li>
									<li>
										<span class="icon">
											<i class="fas fa-map-marker-alt"></i>
										</span>
										<div class="event-content">
											<small class="event-title">Event Location</small>
											<h3 class="event-date">{{ e.event_location }}</h3>
										</div>
									</li>
								</ul>
							</div>

							<p class="black-color mb-30">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit. Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit.
							</p>

							<p class="black-color m-0">
								Lorem ipsum dollor site amet the best  consectuer diam adipiscing elites sed diam nonummy nibh the euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the consectuer adipiscing elit.
							</p>

						</div>
						<!-- event-details - end -->

						{% endfor %}
						<!-- event-schedule - start -->

						<!-- event-schedule - end -->

						<!-- event-pricing-plan - start -->
						<div class="event-pricing-plan mb-80 clearfix">

							<div class="section-title text-left mb-50">
								<span class="line-style"></span>
								<h2 class="big-title">Event <strong>Pricing Plans</strong></h2>
							</div>

							<div class="pricing-list ul-li clearfix">
								<ul>
									{% for p in pak %}

									<li class="pricing-table">
										<div class="pricing-header clearfix">
											<span class="amount">{{ p.package_price }}</span>
											<h3 class="pricing-table-title">{{ p.package_name }}</h3>
										</div>

										<div class="pricing-body clearfix">
											<ul>


												<li class="item-on">{{ p.package_desc }}</li>


											</ul>
										</div>

										<div class="pricing-footer clearfix">
											<a href="{{ p.package_id }}" class="custom-btn">get this</a>
										</div>
									</li>

									{% endfor %}


								</ul>
							</div>

						</div>
						<!-- event-pricing-plan - end -->

						<!-- register-wrapper - start -->

						<!-- register-wrapper - end -->

						<!-- reviewer-comment-wrapper - start -->

						<!-- reviewer-comment-wrapper - end -->



						<!-- comment-form - start -->

						<!-- comment-form - end -->

					</div>
					<!-- col - event-details - end -->

					<!-- sidebar-section - start -->

					<!-- sidebar-section - end -->

				</div>
			</div>
		</section>
		<!-- event-details-section - end
		================================================== -->
{% endblock %}