{% extends 'c-header-footer.html'%}
{% load static %}
{% block content %}

<div class="overlay-black clearfix">

										<!-- leftside-content - start -->
										<div class="leftside-content">
											<div class="site-logo-wrapper mb-80">
												<a href="#!" class="logo">
													<img src="{% static 'assets/images/2.site-logo.png' %}" alt="logo_not_found">
												</a>
											</div>
											<div class="register-login-link mb-80">
												<ul>
													<li><a href="#!">Login</a></li>
													<li class="active"><a href="#!">Register</a></li>
												</ul>
											</div>
											<div class="copyright-text">
												<p class="m-0">©2019 <a href="#!" class="yellow-color">Harmoni.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
											</div>
										</div>
										<!-- leftside-content - end -->

										<!-- rightside-content - start -->
										<div class="rightside-content text-center">

											<div class="mb-30">
												<h2 class="form-title title-large white-color">Account <strong>Register</strong></h2>
												<span class="form-subtitle white-color">Have an account? <strong>LOGIN NOW</strong></span>
											</div>

											<div class="login-form text-center mb-50">
												<form action="#!">
													<div class="form-item">
														<input type="email" placeholder="User Name">
													</div>
													<div class="form-item">
														<input type="password" placeholder="Password">
													</div>
													<div class="form-item">
														<input type="email" placeholder="Repeat Password">
													</div>
													<div class="form-item">
														<input type="password" placeholder="Email Address">
													</div>
													<div class="human-verification text-left">
														<input type="checkbox" id="alt-imnotarobot">
														<label for="alt-imnotarobot">I'm not a robot</label>
														<span class="verification-image">
															<img src="{% static 'assets/images/iamnotrobot.png' %}" alt="Image_not_found">
														</span>
													</div>
													<button type="submit" class="login-btn">login now</button>
												</form>
											</div>

											<div class="bottom-text white-color">
												<p class="m-0">
													* Denotes mandatory field.
												</p>
												<p class="m-0">** At least one telephone number is required.</p>
											</div>

										</div>
										<!-- rightside-content - end -->

										<a class="popup-modal-dismiss" href="#!">
											<i class="fas fa-times"></i>
										</a>

									</div>
{% endblock %}